.page{
    max-width: 880px;
    background-color: #000000;
    color: #FFFFFF;
    margin: 0 auto;
    font-family: 'Inter', 'Arial', sans-serif;
}

@media screen and (max-width:1279px) {
    .page{
        max-width:calc(100% - 10%);
    }
}


@media screen and (max-width:715px) {
    .page{
        max-width: 100%;
    }
}